# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage
.vscode
# database & logs
*.db
*.sqlite3
*.log

db.sqlite3
# venv
.env2
.venv


# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp
staticfiles/


.env
.env.dev
.env.logos
# TODO may be remove?
apps/media/images/*
apps/media/docs/*
apps/media/pdf/*
test.py
.idea/


data/cookies/
/logs/
apps/media/

*.json